/* line 5, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 48, sprite/*.png */
.sprite-sprite, .sprite-x-black {
  background-image: url('../img/sprite-s739a2e18d8.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-x-black {
  background-position: 0 0;
}

/* line 1, ../scss/layout/_sections.scss */
#section1 {
  background: url("../img/header-bg.jpg") center 0 repeat fixed;
  background-size: cover;
  padding-top: 20px;
}

/* line 3, ../scss/layout/_index.scss */
section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* line 1, ../scss/modules/_sandwich.scss */
#nav-icon {
  width: 20px;
  height: 18px;
  margin: 30px 22px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* line 9, ../scss/modules/_sandwich.scss */
#nav-icon span {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
/* line 20, ../scss/modules/_sandwich.scss */
#nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
/* line 24, ../scss/modules/_sandwich.scss */
#nav-icon span:nth-child(2) {
  top: 7px;
  transform-origin: left center;
}
/* line 28, ../scss/modules/_sandwich.scss */
#nav-icon span:nth-child(3) {
  top: 14px;
  transform-origin: left center;
}
/* line 35, ../scss/modules/_sandwich.scss */
#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
}
/* line 40, ../scss/modules/_sandwich.scss */
#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
/* line 44, ../scss/modules/_sandwich.scss */
#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 3px;
}

/* line 4, ../scss/modules/_index.scss */
.logo {
  background: url("../img/logo.png") center 0 no-repeat;
  height: 46px;
  width: 95px;
}
/* line 7, ../scss/modules/_index.scss */
.logo.white {
  background: url("../img/logo-white.png") center 0 no-repeat;
}

/* line 12, ../scss/style.scss */
#section1 .pp-tableCell {
  vertical-align: baseline;
}
