@import "fonts";
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius:$radius;
  -webkit-border-radius:$radius;
  -o-border-radius:$radius;
  -khtml-border-radius:$radius;
}
@mixin box-sizing ($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}
@mixin box-shadow ($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}
$btn-txt-color: #29323c;