@import "header";
@import "sandwich";
@import "main_menu";

//.logo {
//  display: block;
//  background: url("../img/logo.png") center 0 no-repeat;
//  @include size(136px 60px);
//  &.white {
//    background: url("../img/logo-white.png") center 0 no-repeat;
//  }
//  &.transparent {
//    background: url("../img/logo-transparent") center 0 no-repeat;
//  }
//}
.logo {
  font: normal 16px/45px RobotoRegular, san-serif;
  text-transform: uppercase;
  @include size(auto 45px);
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-decoration: none;
  color: #29323c;
  .im {
    display: inline-block;
    background-color: #65bf95;
    text-align: center;
    @include size(45px);
    color: #ffffff;
    border-radius: 20%;
    @include box-sizing(border-box);
    margin-right: 10px;
    @include transition(all linear 0.1s);
  }
  .team {

  }
  &.transparent {
    color: #ffffff;
    .im {
      background-color: transparent;
      border: 1px solid #ffffff;
    }
    &:hover {
      .im {
        color: #29323c;
        background: #ffffff;
      }
    }
  }
}
.menu {
  font: bold 14px "LatoBold", Arial, san-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.btn {
  @include border-radius(21px);
  border: 2px #000000 solid;
  color: $btn-txt-color;
  font: normal 13px "LatoRegular", Arial, sans-serif;
  margin: 38px auto;
  width: auto;
  padding: 12px 24px 0;
  height: 26px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  @include transition(all 0.3s linear);
  &:hover {
    background: #000000;
    color: #ffffff;
  }
  &.white {
    color: #ffffff;
    border-color: #eeeeee;
    &:hover {
      background: #ffffff;
      color: $btn-txt-color;
    }
  }
}
.center {
  text-align: center;
}
.scroll-down {
  @include size(50px 154px);
  background: url("../img/scroll-down.png") center 0 no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}